// Variables
$content-width: 1280px;

// Color palettes
$dark-color: #264653;
$medium-color: #2a9d8f;
$main-color: #e9c46a;
$light-color: #f4a261;
$accent-color: #e76f51;

// Functions
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #181a45;
  } @else {
    @return #fff;
  }
}

@keyframes fall-fade {
  0% {
    top: 0rem;
    opacity: 0;
  }
  25% {
    top: 2rem;
    opacity: 1;
  }
  100% {
    top: 4rem;
    opacity: 0;
  }
}
