@import "config";

.container {
  max-width: $content-width;
  padding: 6rem 4rem;
  margin: auto;
  overflow: hidden;
}

.divider-line {
  height: 2px;
  width: 3rem;
  background-color: $main-color;
  display: block;
  margin: 0.5rem auto 1.25rem auto;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.reveal {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 600ms $swing;
  -moz-transition: opacity 600ms $swing;
  -o-transition: opacity 600ms $swing;
  transition: opacity 600ms $swing;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 40px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    background-color: #8d99ae;
    pointer-events: none;
  }
}

.btn {
  &-main {
    @extend %btn-shared;
    color: set-text-color($main-color);
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: set-text-color($light-color);
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: set-text-color($dark-color);
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $accent-color;
}

// Icons
.lar,
.las,
.lab {
  float: left;
  display: block;
  color: $main-color;
  padding-bottom: 0.5rem;
  font-size: 38px;
}
