@import "config";
@import "utilities";

// General styling
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Daikon-Regular", Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: "Daikon-Black";
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Main Nav
#main-nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  width: 100%;
  text-transform: uppercase;
  z-index: 10;

  &.scrolled {
    background-color: $dark-color;
    transition: background-color 0.2s linear;
  }

  .logo {
    padding: 0 1.5rem 0 1.5rem;

    .circle-face {
      width: 56px;
      height: 56px;
      border-radius: 28px;
      background-color: #fff;
      background-image: url(../img/mike.png);
      background-size: 80% 80%;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-box-shadow: 2px 2px 5px 0px #202020;
      -moz-box-shadow: 2px 2px 5px 0px #202020;
      box-shadow: 2px 2px 5px 0px #202020;
    }
  }

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    color: set-text-color($dark-color);
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $accent-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background-color: $dark-color;
    height: 100vh;
    color: set-text-color($dark-color);

    .header-content {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 6rem;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: "Daikon-Black";
        display: inline-block;
        letter-spacing: 0.1rem;

        span {
          letter-spacing: 1.1rem;
          margin-right: -12px;
        }
      }

      p {
        font-size: 1.25rem;
      }

      a {
        margin-top: 30%;
      }
    }
  }
}

#particles-js {
  height: 100%;

  .arrow {
    position: absolute;
    top: 100vh;
    transform: translateY(-110%);
    width: 100%;
    text-align: center;
    opacity: 0.4;
  }
}

// About
#about {
  min-height: 100vh;
  background-color: $medium-color;
  color: set-text-color($medium-color);
  display: flex;
  vertical-align: center;

  .headshot {
    width: 100%;

    .circle-face {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: #fff;
      background-image: url(../img/mike.png);
      background-size: 80% 80%;
      background-position: 50%;
      background-repeat: no-repeat;
      margin: auto;
    }
  }

  .section-title {
    margin-top: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .specials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: repeat(2, 1fr);

    .fas,
    .fab {
      float: left;
      display: block;
      color: $main-color;
      padding-bottom: 0.5rem;
    }

    .special-content {
      text-align: left;
      margin: 0rem 0rem 2rem 3rem;
    }

    .functions,
    .industries {
      display: block;
    }
  }
}

// Skills
#skills {
  min-height: 100vh;
  background-color: $main-color;
  color: $dark-color;
  display: flex;
  vertical-align: center;

  .container {
    text-align: center;
    padding-top: 5rem;

    .skills-list {
      max-width: 750px;
      margin: 2rem auto 3rem auto;

      li {
        width: 150px;
        height: 150px;
        display: inline-block;
        overflow: hidden;
        background-color: #fff;
        margin: 0 0.5rem 1rem 0.5rem;
        border: solid 7px $dark-color;
        line-height: 150px;

        img {
          vertical-align: middle;
          width: auto;
          height: 120px;

          &.land {
            width: 120px;
            height: auto;
          }
        }
      }
    }
  }
}

// Experiences
#experiences {
  min-height: 100vh;
  background-color: $light-color;
  color: $dark-color;
  display: flex;
  vertical-align: center;

  .container {
    text-align: center;

    .experiences-list {
      .experience {
        img {
          float: left;
          width: 150px;
          height: 150px;
          background-color: #fff;
          margin: 1rem 1.5rem 1rem 1rem;
          border: solid 7px $dark-color;
          line-height: 150px;
        }

        .experience-content {
          text-align: left;
          margin-top: 3rem;
          overflow: hidden;

          h3 {
            padding-top: 0.5rem;
            font-family: "Daikon-Black";
          }
        }
      }
    }
  }
}

// Contact
#contact {
  min-height: 100vh;
  background-color: $medium-color;
  color: set-text-color($medium-color);
  display: flex;
  vertical-align: center;
  text-align: center;

  .container {
    max-width: 700px;
  }

  .contact-summary {
    margin-bottom: 1.5rem;
  }

  .g-recaptcha {
    display: inline-block;
  }

  #btn-contact-submit {
    width: 150px;
    margin-top: 1.5rem;
    display: block;
    margin: 1.5rem auto 0 auto;
    border: none;
    border-radius: 40px;
  }

  input,
  textarea {
    border-radius: 5px;
    border: 1px $dark-color solid;
    font-family: "Daikon-Regular";

    &:focus {
      outline: none;
    }
  }

  .text-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "subject subject"
      "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;

    .name-input {
      grid-area: name;
    }
    .email-input {
      grid-area: email;
    }
    .subject-input {
      grid-area: subject;
    }
    .message-input {
      grid-area: message;
      height: 200px;
    }

    .text-input {
      padding: 0.5rem 1rem;
    }
  }
}

// Footer
#main-footer {
  height: 8rem;
  background-color: $dark-color;
  display: flex;
  vertical-align: center;

  .footer-content {
    margin: auto;
    color: set-text-color($dark-color);

    .social {
      margin-top: 0.5rem;
      line-height: 2rem;
      text-align: center;

      .fab {
        color: set-text-color($dark-color);
      }
    }
  }
}
